
body {
  background: #eee;
  padding: 20px;
  font-family: Helvetica;
}

#root {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
  text-align:center;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input {
  margin-right: 5px;
}

.output {
	font-size:2em;
	color:black;
	text-align:center;
	padding:2em;
	position:absolute;
	left:1.2em;
	top: 2em;
	z-index:29;
	width:80%;
	height:4em;
	background-color:white;
	border-radius:1em;
}

.output.hide {
	display:none;
}

span img {
	max-width:40%;
	max-height:200px;
	cursor:pointer;
	margin-right:2em;
	border-radius:1em;
	transition:.2s ease-in;
}

span img:hover {
	border:1px solid darkgrey;
	transform:scale(1.2);
}
